@font-face {
    font-family: OswaldBold;
    src: url('../fonts/Oswald-Bold.ttf');
}
@font-face {
    font-family: OswaldLight;
    src: url('../fonts/Oswald-Light.ttf');
}
@font-face {
    font-family: OswaldRegular;
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: PoppinsLight;
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: PoppinsMedium;
    src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: PoppinsRegular;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}