@media screen and (max-width: 1680px){
    .stickerImg{  width: 62%;  }
    .dayPassTitleBoxRight{  left: .5em;  }
    .blackLineBreak{  width:58.5%;  margin-left: 20.5%;  }
    .lineUpContent{  width: 58%;  }
    .getTicketText p{  font-size: 1.2em;  }
    .hot100Logo{  width: 45%;  }
    .tierBox{  height: 10em;  margin-left: 1.2em;  }
    .tierBoxContent h1{  font-size: 1.8em;  }
    .tierIcon{  top: 8.5em;  }
    .tierBoxContent p{  font-size: 4em;  }
    .dayPassTitleBoxMiddle{  padding: 0 5%;  }
    .singleDayBox{  height: 20.6em;  }
    .dayPassTypeBoxtop p{  font-size: 1.2em;  padding: 15px 0 0 0;  }
    .fullList .dayPassTitleBoxMiddle{  padding: 0 2%;  }
    .fullList .dayPassText{  font-size: 1.6em;  }
    .dayPassTypeBoxBottom{  left: 1.3em;  }
}

@media screen and (max-width: 1440px){
    .stickerImg{  width: 60%;  }
    .stickerSpacer{  height: 6em;  }
    .tierContent{  width: 80%;  }
    .lineUpLogos{  width: 68%;  }
    .singleDayBox p{  left: 24%;  }
    .singleDayBox h1{  left: 15%;  }
    .blackLineBreak{  width: 67%;  margin-left: 16.5%;  }
    .fullList .dayPassText{  font-size: 1.5em;  }
    .fullList .dayPassText{  top: 15%;  font-size: 1.4em;  }
}

@media screen and (max-width: 1366px){
    .getTicketText p{  font-size: 1.2em;  }
    .lineUpContent{  width: 62%;  }
    .fullListContent{  width: 70%;  }
    .dayPassText{  font-size: 1.8em;  }
    .singleDayBox{  height: 20.5em;  }
    .fullList .dayPassText{  font-size: 1.3em;  }
    .tierBox{  margin-left: 1.1em;  }
    .dayPassTypeBoxBottom{  left: 1.5em;  }
    .dayPassTypeBox{  width: 55%;  left: 15%;  }
    .topNavBar nav li{  margin-right: 2em;  }
}

@media screen and (max-width: 1280px){
    .topNavBar nav a{  font-size: 1.2em;  }
    .stickerImg{  width: 60%;  }
    .blackLineBreak{  width: 69%;  margin-left: 17%;  }
    .dayPassTitleBoxMiddle{  padding: 0 6.5%;  }
    .stickerSpacer{  height: 5em;  }
    .tierBoxContent h1{  font-size: 1.5em;  }
    .tierBoxContent p{  font-size: 3.5em;  }
    .tierBox{  height: 10em;  margin-left: 1.2em;  }
    .tierIcon{  top: 8em;  }
    .fullListText p{  font-size: 1.4em;  }
    .topNavBar nav li{  margin-right: 1em;  }
    .dayPassTypeBoxBottom{  left: 1.4em;  }
    .tierContentRight{  width: 65%;  right: 0;  }
}

@media screen and (max-width: 1024px){
    .topNavBar nav a{  font-size: 1.3em;  }
    #typeBox002{  left: 9%;  }
    .stickerImg{  width: 56%;  }
    .dayPassTitleBoxMiddle{  padding: 0 5.5%;  }
    .stickerSpacer{  height: 5em;  }
    .tierBoxContent h1{  font-size: 1.5em;  }
    .blackLineBreak{  width: 67.5%;  margin-left: 18.5%;  }
    .tierBoxContent p{  font-size: 2.8em;  }
    .tierBox{  height: 8em;  margin-left: .9em;  }
    .tierIcon{  top: 6.5em;  }
    .tierIcon span{  font-size: 3em;  }
    .tierIcon .circle{  width: 25px;  height: 25px;  margin-top: 10px;  }
    .hot100Logo{  width: 75%;  }
    .poweredBy{  margin: 0 0 2em 0;  }
    .getTicketText p{  font-size: .9em;  line-height: 18px;  }
    .lineUpText p{  font-size: 15em;  }
    .lineUpLogos{  width: 80%;  }
    .lineUpContent{  height: 450px;  }
    .festDate p{  font-size: 4em;  }
    .fullListText h1{  font-size: 2em;  }
    .fullListText p{  font-size: 1.1em;  }
    .festLocation p{  font-size: 1.8em;  }
    .getTicketBTN{  width: 30%;  }
    .dayPassText{  font-size: 1.4em;  top: 10%;  }
    .singleDayBox{  height: 17em;  }
    .singleDayBox p{  left: 7%;  }
    .singleDayBox h1{  left: 5%;  font-size: 1.4em;  }
    .fullList .dayPassText{  font-size: 1em;  left: 0;  top: 20%;  }
    .Spacer{  height: 2em;  }
    .tierIcon p{  font-size: 1.2em;  }
    .dayPassTypeBoxtop p{  font-size: 1em;  }
    .dayPassTypeBoxBottom{  left: 1.1em;  }
    .dayPassTypeBox{  left: 12%;  }
}

@media screen and (max-width: 800px){
    .header{  width: 100%;  height: 5em;  }
    .dayPassTypeBoxBottom{  left: 1em;  }
    .dayPassTitleBoxMiddle{  padding: 0 5.5%;  }
    #lineUpLogo4{  margin-left: 20%;  }
    .topNavBar nav li{  margin-right: .5em;  }
    .topNavBar{  width: 73%;  }
    .headerContentBox{  height: 5em;  }
    .billboardLogo{  width: 25%;  }
    .topNavBar nav li{  margin-right: .4em;  }
    .stickerImg{  width: 70%;  }
    .poweredBy{  margin: 0 0 1em 0;  }
    .dayPassText{  font-size: 1.4em;  top:10%;  }
    .singleDayBox{  height: 16em;  }
    .tierBoxContent h1{  font-size: 1em;  }
    .tierBoxContent p{  font-size: 2.7em;  }
    .tierBox{  height: 7em;  }
    .tierIcon{  top: 5.5em;  }
    .tierContent{  width: 100%;  }
    .lineUpContent{  width: 100%;  height: 425px;  }
    .lineUpText p{  font-size: 14em;  }
    .lineUpLogos{  width: 80%;  top: -7em;  }
    .fullListText h1{  font-size: 2em;  }
    .fullListText p{  font-size: 1em;  }
    .festLocation p{  font-size: 1.3em;  }
    .getTicketBTN{  width: 40%;  }
    .topNavBar nav a{  font-size: 1.4em;  }
    .fullListContent{  width: 100%;  }
    .blackLineBreak{  width: 84.5%;  margin-left: 6em;  }
    .fullListTitle{  width: 100%;  }
    .navHide{  display: none;  }
    .singleDayBox h1{  left: 11%;  font-size: 1.2em;  }
}

@media screen and (max-width: 603px){
    .fullListText h1{  font-size: 18px;  }
    .blackLineBreak{  width: 92%;  margin-left: 1em;  }
    .dayPassTypeBoxtop p{  font-size: .9em;  }
    .festLocation p{  font-size: 18px;  }
    .getTicketText p{  font-size: .7em;  line-height: 15px;  }
    .dayPassTypeBoxBottom{  left: .8em;  }
    .singleDayBox{  height: 14em;  }
    .getTicketBox{  height: 3em;  }
    .dayPassTitleBoxMiddle{  left: .5em;  }
    .dayPassTitleBox{  width: 38%;  left: .5em;  }
    .dayPassTitle{  width: 100%;  }
    .dayPassTitleBoxRight{  left: 0;  }
    .dayPassTitleBoxLeft{  left: 0;  }
    .fullListText p{  font-size: 14px;  }
    .navHide{  display: none;  }
    .dayPassText{  font-size: 1.1em;  top: 17%;  }
    .tierContentLeft{  padding-left: 0;  }
    .tierBox{  margin-left: .5em;  }
    .tierIcon p{  font-size: 1em;  }
    .tierBoxContent p{  font-size: 2.3em;  }
    .festLocation{  width: 100%;  }
    .fullList .dayPassTitleBoxMiddle{  padding: 0 1.5%;  }
    .fullList .dayPassText{  font-size: .9em;  }
    .stickerImg{  width: 80%;  }
}

@media screen and (max-width: 533px){
    .dayPassTypeBoxtop p{  font-size: .7em;  }
    .dayPassTypeBoxtop p{  padding: 20px 0 0 0;  }
    .dayPassTypeBoxBottom{  left: .7em;  }
    .tierIcon p{  font-size: .8em;  }
    .singleDayBox p{  font-size: 3em;  left: 14%;  }
    .singleDayBox h1{  left: 11%;  font-size: 1em;  line-height: 21px;  }
    .tierBox{  height: 6em;  }
    .fullListText h1{  font-size: 2.4em;  }
    .fullListText p{  font-size: 1.6em;  }
    .tierIcon{  top: 4.6em;  }
    .getTicketText p{  font-size: .6em;  }
    .lineUpContent{  height:360px;  }
    .tierBoxContent p{  font-size: 2.1em;  }
    .singleDayBox{  height: 13em;  }
    .festDate p{  font-size: 3em;  }
    .lineUpText p{  font-size: 10em;  }
    .topNavBar nav a{  font-size: 1em;  }
    .footerContentRight{  margin-left: .5em;  }
    .getTicketBTN{  width: 65%;  }
    .festLocation p{ font-size: 17px; }
}

@media screen and (max-width: 414px){
    .billboardLogoM{  display: inline-block;  width: 15%;  }
    .dayPassTypeBox{  display: none;  }
    .poweredByImg{  width: 45%;  }
    .footerContentRight{  width: 45%;  }
    .dayPassText{  top: 20%;  }
    .fullListText p{  font-size: 2em;  line-height: 40px;  }
    .billboardLogo{  display: none;  }
    .hot100Logo{  display: none;  }
    .headerContentBox{  width: 100%;  }
    .leftHeader{  width: 100%;  }
    .rightHeader{  display: none;  }
    .topNavBar nav a{  font-size: 1.4em;  letter-spacing: 0px;  }
    .stickerImg{  width: 95%;  }
    .tierBoxContent h1{  font-size: .8em;  }
    .tierBoxContent p{  font-size: 2em;  }
    .tierBox{  height: 6em;  }
    .tierIcon .circle{  margin-top: 10px;  }
    .tierIcon{  top:4.5em;  }
    .getTicketText p{  font-size: .7em;  padding: 0;  margin: 0 auto;  line-height: 18px;  width: 95%;  }
    .getTicketText{  height: 4em;  }
    .getTicketBox{  height: 3em;  }
    .festDate p{  font-size: 3.5em;  }
    .lineUpText p{  font-size: 9em;  }
    .tierBox{  margin-left: .6em;  }
    .lineUpLogos{  top: -4.7em;  }
    .lineUpLogo{  height: 3.5em;  width: 45%;  }
    .lineUpContent{  height: 350px;  }
    .getTicketBTN{  width: 68%;  top: 1em;  }
    .getTicketBTN a{  padding: 10px 0;  }
    .getTicketBTN a:hover{  padding: 10px 0;  }
    .getTicketBTNWrapper{  height: 8em;  }
    .festDate{  width: 100%;  }
    .festLocation p{  font-size: 1.1em;  }
    .fullListContent{  width: 100%;  }
    .festCity p{  font-size: .7em;  }
    .topNavBar nav li{  margin-right: .9em;  }
    .tierBoxContent p{  font-size: 1.5em;  }
    .tierBox{  height: 5em;  }
    .tierIcon{  top: 3.5em;  }
    .navHide{  display: none;  }
    .tierIcon p{  font-size: .8em;  }
    .dayPassTitleBoxLeft{  width: 100%;  }
    .dayPassTitleBoxRight{  width: 100%;  }
    .fullListText h1{  line-height: 50px;  font-size: 3.2em;  }
    #lineUpLogo4{  margin-left: 4%;  }
    #lineUpLogo3{  margin-left: 27%;  margin-right: 20%;  margin-bottom: 12%;  }
    .dayPassTitleBoxMiddle{  padding: 0 6%;  }
    .tierContentLeft{  display: block;  margin: 0 auto;  float: none;  height: 17em;  width: 95%;  }
    .tierContentRight{  display: block;  margin: 0 auto;  float: none;  width: 95%;  }
    .singleDayBox p{  left: 32%;  }
    .singleDayBox h1{  left: 22%;  font-size: 1.5em;  line-height: 30px;  }
    .singleDayBox{  height:  16em;  width: 95%;  }
    .tierBoxContent .dayPassTitleBox{  width: 40%;  }
    .dayPassTitleBox{  width: 36%;  }
    .fullList .dayPassText{  top: 24%;  left: 0;  }
    .tierBoxContent .dayPassTitleBox{  width: 40%;  }
    .fullList .dayPassTitleBoxMiddle{  padding: 0 2%;  }
}

@media screen and (max-width: 375px){
    .billboardLogoM{  display: inline-block;  width: 15%;  }
    .fullListText p{  font-size: 2.3em;  line-height: 40px;  }
    .Spacer{  height: 0em;  }
    .billboardLogo{  display: none;  }
    .hot100Logo{  display: none;  }
    .headerContentBox{  width: 100%;  }
    .leftHeader{  width: 100%;  }
    .rightHeader{  display: none;  }
    .topNavBar nav a{  font-size: 1.1em;  }
    .footerContentRight{  width: 45%;  }
    .footerContentRight a{  font-size: .8em;  }
    .footerContentLeft{  width: 45%;  }
    .footerContentLeft a{  font-size: .8em;  }
    .stickerImg{  width: 95%;  }
    .tierBoxContent h1{  font-size: .8em;  }
    .tierBoxContent p{  font-size: 2em;  }
    .tierBox{  height: 6em;  }
    .tierIcon .circle{  margin-top: 10px;  }
    .tierIcon{  top:4.5em;  }
    .festDate p{  font-size: 3.5em;  }
    .lineUpText p{  font-size: 9em;  }
    .lineUpLogos{  top: -4.7em;  }
    .lineUpLogo{  height: 3.5em;  width: 45%;  }
    .lineUpContent{  height: 350px;  }
    .getTicketBTN{  width: 78%;  top: 2em;  }
    .getTicketBTN a{  padding: 10px 0;  }
    .festDate{  width: 100%;  }
    .festLocation p{  font-size: .9em;  }
    .fullListContent{  width: 100%;  }
    .festCity p{  font-size: .7em;  }
    .topNavBar nav li{  margin-right: .9em;  }
    .tierBoxContent p{  font-size: 1.5em;  }
    .tierBox{  height: 5em;  }
    .tierIcon{  top: 3.5em;  }
    .navHide{  display: none;  }
    .tierIcon p{  font-size: .8em;  }
    .dayPassTitleBoxLeft{  width: 100%;  }
    .dayPassTitleBoxRight{  width: 100%;  }
    .dayPassTitleBox{  width: 33%;  }
    .fullListText h1{  line-height: 50px;  font-size: 3em;  }
    #lineUpLogo4{  margin-left: 4%;  }
    #lineUpLogo3{  margin-left: 27%;  margin-right: 20%;  margin-bottom: 12%;  }
    .dayPassText {  font-size: 1.1em;  top: 15%;  left: 0%;
    }
}

@media screen and (max-width: 320px){
    .billboardLogoM{  display: inline-block;  width: 15%;  }
    .fullListText p{  font-size: 2.1em;  line-height: 40px;  }
    .billboardLogo{  display: none;  }
    .hot100Logo{  display: none;  }
    .headerContentBox{  width: 100%;  }
    .leftHeader{  width: 100%;  }
    .rightHeader{  display: none;  }
    .topNavBar nav a{  font-size: 1.1em;  }
    .footerContentRight{  width: 43%;  }
    .footerContentRight a{  font-size: .8em;  }
    .footerContentLeft{  width: 45%;  }
    .stickerImg{  width: 95%;  }
    .tierBoxContent h1{  font-size: .8em;  }
    .tierBoxContent p{  font-size: 2em;  }
    .tierBox{  height: 6em;  }
    .tierIcon .circle{  margin-top: 10px;  }
    .tierIcon{  top:4.5em;  }
    .getTicketText p{  font-size: .6em;  padding: 0;  margin: 0 auto;  line-height: 14px;  width: 95%;  }
    .festDate p{  font-size: 3.5em;  }
    .lineUpText p{  font-size: 7em;  }
    .lineUpLogos{  top: -3.5em;  }
    .lineUpLogo{  height: 3.5em;  width: 45%;  }
    .lineUpContent{  height: 300px;  }
    .festDate{  width: 100%;  }
    .festLocation p{  font-size: .9em;  }
    .fullListContent{  width: 100%;  }
    .festCity p{  font-size: .7em;  }
    .topNavBar nav li{  margin-right: .9em;  }
    .tierBoxContent p{  font-size: 1.5em;  }
    .tierBox{  height: 5em;  margin-left: .4em;  }
    .tierIcon{  top: 3.5em;  }
    .navHide{  display: none;  }
    .tierIcon p{  font-size: .7em;  }
    .dayPassTitleBoxLeft{  width: 100%;  }
    .dayPassTitleBoxRight{  width: 100%;  }
    .dayPassTitleBox{  width: 32%;  }
    .fullListText h1{  line-height: 50px;  font-size: 3.2em;  }
    #lineUpLogo4{  margin-left: 4%;  }
    #lineUpLogo3{  margin-left: 27%;  margin-right: 20%;  margin-bottom: 12%;  }
    .dayPassText {  font-size: 1.2em;  top: 15%;  left: 0%;  }
    .singleDayBox p{  left: 28%;  }
    .singleDayBox h1{  left: 15%;  }
}