body{

    margin: 0;
    padding: 0;
    background-color: #363293;
}
.blackLineBreak{
    width: 59.5%;
    height: 2px;
    background-color: #000000;
    clear: both;
    margin-left: 20%;
}
.pink{
    color: #D9205F;
}
.displayTable{
    display: table;
}
.displayTableCell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.wrapper{

    width: 100%;
    background-color: #363293;
    background-image: url("../images/bb-hot100-bg-lg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

}
.contentBox{
    width: 97%;
    margin: 0 auto;
    padding: 0;
}
.innerContent{
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.header{
    width: 100%;
    height: 6em;
    background-color: #3F0250; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(63,2,80,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(63,2,80,1)); /*Opera 11.1-12*/
    background: -ms-linear-gradient(bottom,rgba(255,255,255,0),rgba(63,2,80,1)); /*MS*/
    background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(63,2,80,1)); /*Fx 3.6-15*/
    background: linear-gradient(bottom,rgba(255,255,255,0),rgba(63,2,80,1));
}
.headerContentBox{
    height: 6em;
}
.sticker{
    width: 100%;
    padding: 0;
    margin: 0;
}
.Spacer{
    height: 3em;
}
.stickerImg{
    width: 63%;
    margin: 0 auto;
}
.stickerImg img{
    width: 100%;
    height: auto;
}
.poweredBy{
    width: 100%;
    padding: 0;
    margin: 0 0 5em 0;
}
.poweredByContent{
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.poweredByContent h1{
    text-align: center;
    color: #ffffff;
    font-family: PoppinsMedium;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.poweredByImg{
    width: 21%;
    margin: 0 auto;
    padding: 0;
}
.poweredByImg img {
    width: 100%;
    height: auto;
}
.billboardLogo{
    width: 20%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.billboardLogo img{

    width: 100%;
    height: auto;
}
.topNavBar{
    width: 55%;
    display: inline-block;
}
.topNavBar nav{
    width: 100%;
    padding-left: 2em;
}
.topNavBar nav li{
    display: inline-block;
    margin-right: 4em;
}
.topNavBar nav a{
    color: #ffffff;
    font-family: PoppinsMedium;
    letter-spacing: 1px;
    font-size: 1.3em;
    transition: 1s;
}
.topNavBar nav a:hover{
    color: #D9205F;
    transition: 1s;
    text-decoration: none;
}
.hot100Logo{
    width: 40%;
    margin: 0;
    float: right;
}
.hot100Logo img{
    width: 100%;
    height: auto;
}
.tier{
    width: 100%;
    padding: 0;
    margin: 0%;
}
.tierContent{
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.dayPassTitle{
    width: 100%;
    height: 4em;
    margin: 1em auto;
}
.dayPassTitleBox{
    width: 35%;
    height: 100%;
    display: block;
    float: left;
    position: relative;
    left: 4em;
}
#typeBox002{
    top:-2.8em;

}
.dayPassTypeBoxtop{
    width: 100%;
    height: 3.5em;
    border-radius: 8px;
    background-color: #ffffff;
}
.dayPassTypeBoxtop p{

    color: #40c0ea;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
    font-family: PoppinsBold;
}
.dayPassTypeBoxBottom{
    display: block;
    font-size: 4em;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: .2em;
    left: 1.6em;
}
.dayPassTitleBoxMiddle{
    height: 100%;
    display: block;
    float: left;
    padding: 0 6%;
    position: relative;
    left: 5em;
}
.tierBoxes{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.tierBox{
    width: 20.5%;
    height: 10em;
    display: inline-block;
    background-color: #282560;
    margin-left: 1.5em;
    position: relative;
    border-radius: 10px;

}
.dayPassTypeBox{
    width: 45%;
    height: 4em;
    display: block;
    position: absolute;
    z-index: 999;
    left: 18%;
    top: -1.5em;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
}
.tierBoxOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 100;
}
.tierBoxContent{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 10px;
    z-index: 1;
}
.tierBoxContent h1{
    text-align: center;
    font-family: PoppinsRegular;
    color: #ffffff;
    margin: 18px 0 0;
    font-size: 1.6em;
}
.tierBoxContent p{
    text-align: center;
    font-family: OswaldRegular;
    color: #ffffff;
    font-size: 3.2em;
    letter-spacing: 1px;
}
.lineThrough{
    text-decoration: line-through;
}
.getTicketContent{
    width: 97%;
    display: block;
    margin-bottom: 2em;
}
.getTicketBox{
    width: 95%;
    height: 4em;
    display: block;
    margin: 0 auto;
    background-color: #282560;
    border-radius: 10px 10px 0 0;
}
.getTicketBTNWrapper{
    width: 100%;
    height: 12em;
    display: block;
}
.getTicketBTN{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 4em;
}
.getTicketBTN a{
    background-color: #D9205F;
    border: solid 3px #E92A7A;
    padding: 20px 0;
    color: #ffffff;
    display: block;
    font-family: PoppinsMedium;
    font-size: 2em;
    letter-spacing: 1px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 10px -1px rgba(26,26,26,1);
    -moz-box-shadow: 3px 2px 10px -1px rgba(26,26,26,1);
    box-shadow: 3px 2px 10px -1px rgba(26,26,26,1);
    transition: 1s;
}
.getTicketBTN a:hover{
    background-color: #2A3B8E;
    border: solid 3px #2A3B8E;
    transition: 1s;
    padding: 20px 0;
    color: #ffffff;
    display: block;
    text-decoration: none;
}
.getTicketText{
    width: 95%;
    display: block;
    margin: 0 auto;
    background-color: #282560;
    border-radius: 0 0 10px 10px;

}
.getTicketText p{
    text-align: center;
    font-size: 1.3em;
    padding: 0 2em;
    color: #FFFFFC;
    letter-spacing: 0px;
    font-family: PoppinsRegular;
    display: block;
    height: 5em;
    line-height: 25px;
}
.festDetails{
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}
.festDate{
    width: 60%;
    margin: 0 auto;
}
.festDate p{
    text-align: center;
    font-family: OswaldBold;
    font-size: 5em;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    color: #ffffff;
}
.festLocation{
    width: 60%;
    margin: 0 auto;
}
.festLocation p{
    font-family: PoppinsRegular;
    font-size: 2em;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
}
.festCity{
    width: 60%;
    margin: 0 auto;
}
.festCity p{
    font-family: PoppinsLight;
    letter-spacing: 1px;
    font-size: 1em;
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
}
.lineUp{
    width: 100%;
    padding: 0;
    margin: 0;
}
.lineUpContent{
    width: 51%;
    height: 500px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.lineUpLogos{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -7.6em;
}
.lineUpLogo{
    width: 30%;
    height: 8em;
    display: inline-block;
    margin-left: 2%;
}
.lineUpLogo img{
    width: 100%;
    height: auto;
}
.lineUpText{
    width: 100%;
    margin: 0 auto;
}
.lineUpText p{
    font-size: 17em;
    letter-spacing: 1px;
    text-align: center;
    padding:0;
    margin:0;
    font-family: OswaldBold;
    color: #282560;
}
.tierIcon{
    width: 100%;
    position: absolute;
    top: 8.2em;
    left: 0;
    margin: 0 auto;
    z-index: 200;
}
.tierIcon span{
    color: #D9205F;
    font-size: 3em;
    color: #D9205F;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.tierIcon .circle{
    width: 30px;
    height: 30px;
    margin-top: .2em;
    background-color: #1A1846;
    border: solid 2px #363293;
    border-radius: 50%;
}
.tierIcon p{
    font-family: PoppinsBold;
    text-align: center;
    font-size: 1.5em;
    color: #D9205F;
}
.tierIcon .fa-check{
    color: green;
}
.fullList{
    width: 100%;
}
.fullList .dayPassText{
    color: #40c0ea;

}
.fullList .dayPassTitleBoxMiddle{
    padding: 0 2%;
}
.fullListTitle{
    width: 72%;
    margin: 0 auto;
}
.fullListContent{
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.fullListText h1{
    text-align: center;
    color: #ffffff;
    font-family: PoppinsBold;
    line-height: 25px;
    font-size: 2.5em;
}
.fullListText p{
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-family: PoppinsBold;
    letter-spacing: 2px;
    line-height: 25px;
}
.yellowText{
    color: #F8D227 !important;
}
.leftHeader{
    float: left;
    width: 70%;
}
.rightHeader{
    float: right;
    width: 25%;
}
.dayPassText{
    top: 3%; position: relative; text-align: center; font-family: PoppinsMedium; font-size: 2em; color: #1A1846; text-transform: uppercase;
}
.billboardLogoM{
    width: 20%;
    display: none;
    margin: 0;
    padding: 0;
}
.billboardLogoM img{

    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    padding: 0;
    margin: 0 0 2em 0;
}
.footerContent{
    width: 60%;
    height: 2em;
    margin: 0 auto;
}
.footerContentLeft{
    width: 46%;
    height: 2em;
    display: inline-block;

}
.footerContentLeft a{

    font-size: 1em;
    color: #ffffff;
    font-family: PoppinsMedium;
    text-decoration: none;
    display: block;
    float: right;
}
.footerContentLeft a:hover{
    color: #D9205F;
    transition: 1s;
    text-decoration: none;
}
.footerContentRight{

    width: 48%;
    height: 2em;
    display: inline-block;
    margin-left: 1em;

}
.footerContentRight a{

    font-size: 1em;
    color: #ffffff;
    font-family: PoppinsMedium;
    text-decoration: none;
    display: block;
    float: left;
}
.footerContentRight a:hover{

    color: #D9205F;
    transition: 1s;
    text-decoration: none;
}
.dayPassTitleBoxLeft{
    width: 100%;
    height: 2px;
    display: block;
    background-color: #1A1846;
    top: 36%;
    position: absolute;
    float: right;
    z-index: 999;
    left: 1.3em;

}
.dayPassTitleBoxRight{
    width: 95%;
    height: 2px;
    display: block;
    background-color: #1A1846;
    top: 36%;
    position: absolute;
    float: left;
    left: 1em;

}
.tierContentRight{
    float: right;
    width: 60%;
    position: relative;
    right: 3em;
}
.tierContentLeft{
    float: left;
    width: 35%;
    padding-left: 5em;
}
.singleDayBox{
    width: 100%;
    height: 21em;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #28255F;
    border-radius: 10px;
}
.singleDayBox p{

    text-align: center;
    font-family: OswaldRegular;
    color: #ffffff;
    font-size: 4em;
    letter-spacing: 1px;
    display: block;
    position: absolute;
    top: 10%;
    left: 30%;

}
.singleDayBox h1{
    text-align: center;
    font-family: PoppinsRegular;
    color: #ffffff;
    margin: 18px 0 0;
    position: absolute;
    font-size: 1.6em;
    top: 33%;
    left: 23%;
    line-height: 30px;
}
#lineUpLogo4{
    margin-left: 20%;
}